@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Sans+Pro:wght@300;400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Color Theme Swatches in Hex */
/* .Pecan-nuts-1-hex { color: #F2A950; }
.Pecan-nuts-2-hex { color: #D98C5F; }
.Pecan-nuts-3-hex { color: #73260A; }
.Pecan-nuts-4-hex { color: #BF4E24; }
.Pecan-nuts-5-hex { color: #F2F2F2; }
 */
/* font-family: 'Great Vibes', cursive;
font-family: 'Source Sans Pro', sans-serif;  */ 


/* index html */
body{
    background-color:#f2a95093 ;
    background-image: url(../assets/img/pecanOtono.jpg);
}
.container-grid{
    width: 100%;
    height:100vh;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(19, 10%);
    position: relative;
}
header{
    background-color: #F2A950;
}
.item1{
    width: 100%;
    grid-column: 1 / 5;
    grid-row:1 / 3; 
    display:grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: (4,25%);
}

.logo{
    grid-column: 1/3;
    grid-row: 1/3;
    display: flex;
    align-items: center;  
}
.logo a img{
    justify-self: left;
    margin: 15%;
    border-radius: 50%;
    box-shadow: 10px 3px 8px rgba(191, 77, 36, 1);
}
.logo h1{
    padding: 3%;
    color: rgba(191, 77, 36, 1);
    font-family: 'Great Vibes', cursive;
    text-align: center;
    text-shadow: 5px 5px 3px #e66333c4;
    margin-left: 30px;
    font-size: 60px;  
}
nav{
    grid-column: 3/6;
    grid-row:2/4;
    display: grid;
    align-content:center;
}
.navBar{
    display:inline-flex;
    background: rgba( 193, 178, 27, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-decoration: none;
    list-style: none;
    margin-right: 20%;
}  

.navBar li a{
    padding: 20px;
    text-decoration: none;
}
.item2{
    display:grid;
    grid-column: 1/ 5;
    grid-row: 3/ 18;
}
.container{
    padding: 20%;
}
.container h2{
    display:flex;
    padding: 3%;
    font-size: 45px;
    font-style: italic;
    text-align:end;
    color:rgba(191, 77, 36, 1);
    background-color: #f2a950cb;
    border-radius: 10px 10px 0px 0px;
    justify-content: center;
} 
.container p{
    display: flex;
    padding: 2% 5%;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    background-color: #f2a950a8;
    justify-content: center;
    border-radius:0 0 10px 10px;
}
.item3{
    display:grid;
    grid-row: 18/19;
    grid-column: 1 / 5;
    justify-content: center;
    align-content: flex-end;
    background-color: #F2A950;
    gap: 20px;
    text-align: center;
}