@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Sans+Pro:wght@300;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bg-header {
  background: linear-gradient(90deg, #d97706 0%, #b45309 50%, #9a3412 100%);
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0; }

#menu a {
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  color: #5e0a0a; }
  #menu a:hover {
    scale: 1.1;
    font-weight: 600;
    text-shadow: 2px 2px 2px #efc195e8; }

.logo img {
  box-shadow: 10px 3px 8px #66260f; }

.fuente {
  font-family: "Great Vibes", cursive;
  color: #6a1313;
  text-shadow: 2px 2px 2px #efc195e8;
  font-size: 60px; }

.navbar-toggler {
  color: #5e0a0a;
  border: none !important; }
  .navbar-toggler:focus {
    box-shadow: none !important; }

.bg-index {
  background-color: #f2a95093;
  background-image: url(../assets/img/pecanOtono.jpg);
  height: 100%; }

.container-main {
  width: 100%;
  margin-top: 8%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(40, 20px); }
  .container-main h2 {
    font-size: 45px;
    color: #793218;
    font-style: italic;
    display: inline; }
  .container-main p {
    color: #793218;
    font-style: italic;
    font-weight: bold;
    font-size: 25px; }

.item-1 {
  grid-column: 2/5;
  grid-row: 1/12;
  padding: 10px;
  background-color: #d6b952bd;
  border-radius: 10px;
  justify-self: center;
  align-self: flex-end; }

.item-2 {
  grid-column: 2/5;
  grid-row: 16/26;
  text-align: justify;
  padding: 20px;
  background-color: #d6b952bd;
  border-radius: 10px; }

footer {
  background-color: rgba(165, 42, 42, 0.199); }
  footer h3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: #650303;
    text-shadow: 2px 2px 2px #efc195e8; }
  footer .redes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 25px; }
    footer .redes :hover {
      color: bisque;
      transform: scale(1.1);
      font-weight: bold;
      background-color: rgba(165, 42, 42, 0.199); }

.bg-qs {
  background-color: #f5deb3;
  overflow: hidden; }

main {
  top: 0; }
  main section h1 {
    font-size: 35px;
    font-style: italic;
    color: #bf4d24;
    background-color: #d6b952bd;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    align-self: center; }
  main section p {
    font-size: 18px;
    font-style: italic;
    color: #bf4d24;
    background-color: #d6b952bd;
    padding: 15px;
    text-align: justify; }
  main section h2 {
    font-size: 35px;
    font-style: italic;
    color: #bf4d24;
    background-color: #d6b952bd;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    align-self: center; }

.slide {
  margin-top: 10%; }

.slide img {
  height: 60vh;
  width: 100%; }

.bg-qh {
  background-color: #f2a95093;
  background-image: url(../assets/img/ramasPecan.jpg);
  background-size: contain;
  overflow: hidden;
  width: 100%; }

main section h3 {
  font-size: 45px;
  font-style: italic;
  color: #bf4d24;
  background-color: #d6b952bd;
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  border-radius: 15px; }

main section video {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 9px solid #274e1dda; }

main section p {
  font-size: 18px;
  font-style: italic;
  color: #6d0f0f;
  background-color: #d6b952bd;
  padding: 30px;
  border-radius: 15px; }

.container-Qh {
  display: grid; }
  .container-Qh h3 {
    grid-column: 3/9;
    grid-row: 2/4; }
  .container-Qh video {
    grid-column: 2/6;
    grid-row: 4/10; }
  .container-Qh p {
    grid-column: 7/10;
    grid-row: 4/10; }

.bg-cont {
  background-color: #f2a95093;
  background-image: url(../assets/img/rioCorriente.jpg);
  background-size: cover;
  height: 100vh; }

@media (max-width: 994px) {
  header #menu a {
    font-size: 21px; }
    header #menu a:hover {
      transform: translate(40px); } }

@media (max-width: 768px) {
  header {
    background: linear-gradient(90deg, #d97706 0%, #b45309 100%); }
  .logo img {
    width: 75%; }
  .fuente {
    font-size: 40px;
    color: #821010; }
  #menu a {
    font-size: 20px;
    line-height: 1; }
    #menu a:hover {
      transform: translate(30px);
      font-weight: 600; }
  .bg-index {
    width: 100%; }
  .container-main h2 {
    font-size: 25px; }
  .container-main p {
    font-size: 16px; }
  footer h3 {
    font-size: 20px; }
  footer .redes {
    font-size: 12px;
    text-decoration: none; } }

@media (max-width: 320px) {
  .logo img {
    width: 60%; }
  .fuente {
    font-size: 35px;
    color: #821010; }
  #menu a {
    font-size: 16px;
    line-height: 1; }
    #menu a button svg {
      height: 1.5rem;
      stroke-width: 1 !important; }
    #menu a .bg-index {
      width: 100%; }
    #menu a footer h3 {
      font-size: 16px;
      justify-content: center; }
    #menu a footer .redes {
      font-size: 12px;
      text-decoration: none; } }
