@mixin grid ($justify,$align,$col){
    display: grid;
    justify-content: $justify;
    align-items: $align;
    grid-template-columns: $col;
}
@mixin flex($direct,$justify,$align){
    display: flex;
    flex-direction: $direct;
    justify-content: $justify;
    align-items: $align;
}
@mixin titulos($size, $style, $color,$bg-color,$padding){
    font-size:$size;
    font-style:$style;
    color:$color;
    background-color: $bg-color;
    padding:$padding;

}