footer{
    background-color:rgba(165, 42, 42, 0.199);
    h3{
        @include flex(row,wrap, center, center);
        font-size: 35px;
        font-weight:bold;
    }
    .redes{
        @include flex(row, wrap, center, center);
        font-size: 30px;
        gap:25px;
        :hover{
            color:bisque;
            transform:scale(1.1);
            font-weight:bold;
            background-color:rgba(165, 42, 42, 0.199);
        }
    }
}    
