.bg-header {
    background: linear-gradient(90deg, #d97706 0%, rgba(180, 83, 9, 1) 50%, rgb(154, 52, 18) 100%);
    width: 100%;
    position: sticky;
    z-index:100;
    top: 0;
}
#menu a{
    font-size:22px;
    font-family: $typo-secundario;
    font-style: italic;
    color:#efc195e8;
    &:hover {
            color:rgb(130, 16, 16);
            scale: 1.1;
            font-weight: 600;
            text-shadow: 3px 3px 3px #efc195e8;
    }          
}
.logo{
    img{
    margin-left:7px;
    box-shadow: 10px 3px 8px rgb(102, 38, 15);
    }        
    &::after{
            content:"Golden Pecans";
            text-shadow: 2px 2px 2px #efc195e8;
            font-family:$typo-principal;
            color:rgb(130, 16, 16);
            font-size: 60px;
            font-weight: 600;
        }
    }

.navbar-toggler{
    color:#5e0a0a;
    border:none !important;
    &:focus{
        box-shadow: none !important;
    }
}

.navbar-nav{
    width: 100%;
    text-align: right;
    padding-right: 15px;
    justify-content: end;
    color:rgba(235, 211, 112, 0.924);
}