header{
    @include grid(center,center, 1fr 1fr 1fr 1fr 1fr);
    grid-template-rows: repeat(5,20%);
    background-color:#F2A950;
    height:23%;
}   
div{
    grid-column:1/5;
    grid-row: 1/6;
}
.logo{
    display: flex;
    align-items: center;  
    a{
        img{
            justify-self: left;
            margin: 15%;
            border-radius: 50%;
            box-shadow: 10px 3px 8px rgba(191, 77, 36, 1);
        }
    }
    h1{
        padding: 3%;
        color: rgba(191, 77, 36, 1);
        font-family: $typo-principal;
        text-align: center;
        text-shadow: 5px 5px 3px #e66333c4;
        margin-left: 30px;
        font-size: 60px;  
    }
    }
nav{
    grid-column: 2/6;
    grid-row: 3/5;
}    
.navBar{
    display:flex;
    background: rgba( 193, 178, 27, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(165, 42, 42, 0.575);
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-decoration: none;
    list-style: none;
    float:right;
    margin-right: 25px;
    li{
        a{
            display:flex;
            padding: 10px;
            text-decoration: none;
            color:brown;
            &:hover{
                color: rgb(126, 20, 20);
                background-color: #f2a9502a;
                box-shadow:2px 8px 8px 0 rgba(165, 42, 42, 0.608); 
                backdrop-filter: blur( 12.5px );
                -webkit-backdrop-filter: blur( 12.5px );
                border-radius: 10px;
                scale: 1.2;
                font-weight: bold;
            }
        }
    }
}