.bg-qs {
    background-color: #f5f5dee7;
}

.slide {
    margin-top: 3%;

    div div img {
        height: 65vh;
        width: 100%;
    }
}

#historia {
    h1 {
        @include titulos(35px, italic, #bf4d24, #fafad200, 7px);
        width: 100%;
    }

    p {
        @include titulos(18px, italic, #bf4d24, #fafad200, 15px);
        width: 100%;
        padding-bottom: 2em;
        }
    p:nth-child(2){
        padding: 0;;
    }    

    h2 {
        @include titulos(35px, italic, #bf4d24, #d6b952bd, 5px);
        text-align: center;
        align-self: center;
    }
}

