
//  para tablets
@media (max-width:768px){
    header{
        background: linear-gradient(90deg,#d97706  0%, rgba(180,83,9,1) 100%);
    }
    .logo{
        img{
            width: 20%;
        }
        &::after{
                content:"Golden Pecans";
                text-shadow: 2px 2px 2px #efc195e8;
                font-family:$typo-principal;
                color:rgb(79, 6, 6);
                font-size: 40px;
                font-weight: 600;
            }
        }

    #menu a {
        font-size: 20px;
        line-height:1;
            &:hover {
                transform: translate(30px);
                font-weight:600;
            }
        }

    .bg-index{
            width:100%
            }
    .slide  div div img{
        height:50vh;
    }
    #historia{
        width:90% !important;
    }
    .container-main{
        h1{
            font-size:25px ;
        }
        p{
            font-size: 16px;
        }
    }
    footer{
            h3{
                font-size: 20px;
            }
            .redes{
                font-size:12px;
                text-decoration: none;
            }
        }
    }

// para celulares

@media (max-width:320px){
    .logo{
        img{
            margin-left: 0;
            width: 20%;
        }
        &::after{
                content:"Golden Pecans";
                text-decoration: none;
                font-family:$typo-principal;
                color:rgb(79, 6, 6);
                font-size: 30px;
                font-weight: 500;
            }
        }
    #menu a {
        font-size: 16px;
        line-height:1;
            &:hover {
                transform: translate(10px);
                font-weight:500;
        }
    }
    .bg-index{
            width:100%
            }
    //quienes somos
    .slide  div div img{
        height:30vh;
    }
   
    //que hacemos
    #activid{
        p:nth-child(4){
                display: none;
            }
        }
        video{
            width:300px;
            padding-bottom: 4em;
        }
    }

    //footer general
    footer{
            h3{
                font-size: 16px;
                justify-content: center;
            }
            .redes{
                font-size:12px;
                text-decoration: none;
            }
        }
    