
//  para tablets
@media (max-width:768px){
    header{
        background: linear-gradient(90deg,#d97706  0%, rgba(180,83,9,1) 100%);
    }
    .logo{
        img{
            width: 20%;
            padding-left: 1%;
        }
        &::after{
                content:"Golden Pecans";
                text-shadow: 2px 2px 2px #efc195e8;
                font-family:$typo-principal;
                color:rgb(79, 6, 6);
                font-size: 40px;
                font-weight: 600;
            }
            &:hover{
                transform: translate(40px);
            }
        }
    #menu div a {
        font-size: 16px;
        line-height:0.5em;
        color:rgba(235, 210, 112, 0.924);
            &:hover {
                font-weight:600;
                // scale:1.1;
                // translate:(-20px);
                color:$typo-color;
                text-shadow: 1px 1px 1px #efc195e8;
            }
        }

    #menu div button svg{
        color:rgba(235, 211, 112, 0.924);
    }
    #navbarSupportedContent a:hover{
        translate: -40px;
        transform: translate(-40px);
        transition:transform 2s 1ms;
    }
    .bg-index{
            width: 100%;
            }
    .container-main{
        h1{
            font-size:25px ;
            text-align: center;
        }
        p{
            font-size: 16px;
        }
    }
    .item-1{
        align-self:center;
        grid-column:1/6;
        margin: 15px;
    }
    .item-2{
        margin: 15px;
        padding: 12px;
        grid-row:14/30;
        grid-column:1/6;
    }
    
.slide  div div img{
        height:50vh;
    }
    #historia{
        width:90% !important;
    }
// productos
    .miCard div{
        width: 20rem;
    }

 // contactos 
    .contactanos{
        padding: 20px;
    }
    .box{
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .map{
        min-height: 300px;
    }
    .formBox .row50{
        display: flex;
        gap:0;
        flex-direction: column;
    }
    .inputBox{
        width:100%;
    }
    .contact{
        padding: 20px;
    }
    .map{
        min-height: 300px;         
        padding: 30px;     
    }

    footer{
            p{
                font-size: 25px;
            }
            .redes a i{
                font-size:25px;
                text-decoration: none;
            }
        }
    }

//  para celulares
// celulares large
@media(max-width:425px) {
    video {
        width: 300px;
        padding-bottom: 4em;
    }

}

@media (max-width:320px) {
    .logo {
        img {
            margin-left: 0;
            // width: 20%;
        }

        &::after {
            font-size: 30px;
            font-weight: 500;
        }
    }

    #menu a {
        font-size: 16px;
        line-height: 1;

        &:hover {
            transform: translate(-20px);
            font-weight: 500;
        }
    }

    .bg-index {
        width: 100%
    }


    //quienes somos
    .slide div div img {
        height: 30vh;
    }


    //que hacemos
    #activid {
        p:nth-child(3) {
            display: none;
        }
    }

  

    //productos

    .miCard div {
        text-align: center;
        width: 19rem;
    }

    //  Contactos
    .contactanos {
        padding: 10px;
        
        .box {
            padding-right: 10px;
            padding-left: 10px;
        }
        .form{
            width:280px;
        }
        .info{
            width: 280px;
        }

        .map {
            min-height: 250px;
            padding: 0;
            width:280px;
        }

        .formBox .row50 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            grid-gap: 0;
            flex-direction: column;
        }
        .inputBox {
            width: 100%;
            input{
                font-size: 1em;
            }
            textarea{
                font-size:1em;
                resize: none;
            }
        }
        .info .infoBox div span{
            font-size:1em;
            margin-right: px;
        }

        .contact {
            padding: 20px;
        }

        //footer general
        footer {
            h3 {
                font-size: 16px;
                justify-content: center;
            }

            .redes {
                font-size: 12px;
                text-decoration: none;
            }
        }
    }
}